{
  "api": {
    "api_url": "https://api.green-coding.io/",
    "token": "DEFAULT",
    "timeout": 30
  },
  "repos": [
    {
      "name": "NextCloud Master Every Commit",
      "repo_to_watch": "https://github.com/nextcloud/server",
      "branch_to_watch": "master",
      "runs": [
        {
          "repo_to_run": "https://github.com/green-coding-solutions/nextcloud-runner",
          "machine_id": 12,
          "email": "didi@green-coding.io",
          "branch_to_run": "main",
          "filename": "usage_scenario_master.yml",
          "variables": {
            "__GMT_VAR_NCHASH__": "__GIT_HASH__"
          }
        }
      ]
    }
  ]
}
